<mat-toolbar class="mat-i-z3 bgcp text-white" style="position: fixed; z-index: 20;top: 0 !important;" >
    <mat-toolbar-row color="" class="bg-secondary">
      <i *ngIf="user" class="fa-solid fa-lg fa-circle-chevron-left d-none ml-2 d-flex d-lg-block p-3"
        (click)="goBack()"></i>
      <i *ngIf="user" class="fa-solid fa-lg fa-circle-chevron-right d-none ml-2 d-flex d-lg-block"
        (click)="goForward()"></i>
      <i *ngIf="user" class="fa-solid    fa-rotate-right d-none ml-2 p-3 d-flex d-lg-block" (click)="reLoad()"></i>
  
  
  
      <img class="toolimg" src="../assets/profile.jpg" mat-card-sm-image>
      <span class="ml-3 p-3 fw-light fontp text-uppercase d-none d-md-block mt-2" style="line-height: 18px;"> DR-CAMP<span style="font-size: small;"><br>Kerala Government</span></span>
      <span class="ml-3 p-3  fw-light fontp text-uppercase d-block d-md-none" style="line-height: 12px;"> DR-CAMP <span style="font-size: x-small;"><br>www.drcamp.com </span> </span>
  
      <span class="example-spacer"></span>
  
      <span class="material-icons ml-2 p-2 " routerLink="" *ngIf="user">
        home
      </span>
      <span *ngIf="user" class="material-icons ml-2 p-2 " (click)="this.authService.SignOut()">
        login
      </span>
  
    </mat-toolbar-row>
    <mat-toolbar-row class="secodtoolbar d-flex flex-row-reverse pb-3">
      <div *ngIf="user" class="d-flex justify-content-right">
        <p class="username fw-normal ">{{user!.name!}} </p>
        <span class="p-2"></span>
  
      </div>
    </mat-toolbar-row>
  </mat-toolbar>













<router-outlet></router-outlet>

